@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

html, body, main {
  height: 100%;
  margin-block-start: 3rem;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: #353535;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  margin: 1.5rem;
}

h2{
  color: #006230;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

h3{
  color: #353535;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

p {
  color: #353535;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.next-step{
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.pop-img {
  margin: 3rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #353535;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  padding: 1em;
}
